node_modules/
**/node_modules
.vercel
.next
.env.local
.env.production
.env.dev
.env.*
.turbo
dist
**/dist
**/.next
**/.turbo
Dockerfile
README.md
node_modules
npm-debug.log
out/
**/out
build/
**/build
dist/
.DS_Store
**/.DS_Store
.DS_Store/
**/.env
**/.env.*
.git           
.gitignore    
